

.boardcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgb(38, 193, 231); */
    background-color: #90d4ed;
    scroll-margin-top: 100px;
scroll-margin-right: 20px;
scroll-margin-bottom: 20px;
scroll-margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    scroll-margin-top: 100px;
scroll-margin-right: 20px;
scroll-margin-bottom: 20px;
scroll-margin-left: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(204, 186, 186);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.boardname{
    color: white;
    padding-bottom: 5px;
    font-size: 28px;
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    margin-top: 150px;

}
.border-1 {
    border: 2px solid blue;
    border-radius: 10px;
    background-color: yellow;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    left: 0px;

}

.border-2 {
    border: 2px solid red;
    border-radius: 10px;
}

.list-container{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px

}

.boardDroppable{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.board_button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: lightpink;
    border-radius: 10px;
    margin-bottom: 15px;
    bottom: 100px;
}

.boardeditinput{
    min-width: 90%;
}
