.boardcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    padding-top: 2vw;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.boardname{
    color: blue;
    padding-bottom: 5px;
    font-size: 28px;
}
.border-1 {
    border: 2px solid blue;
    border-radius: 10px;
}

.border-2 {
    border: 2px solid red;
    border-radius: 10px;
}

.list-container{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px

}

.boardDroppable{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.board_button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: lightpink;
    border-radius: 10px;
}

.boardeditinput{
    min-width: 90%;
}
