.row-home {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
}

.row-home-1{
    margin-top: 100px;
    height: 90vh;
    display: flex;
    flex-direction: row;


}

.col-0{
    background-color: #90d4ed;;
    width: 60%;
}

.col-1{
    background-color: black;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.justingif{

    border: 2px solid blue;
    border-radius: 10px;
    margin: 15px;
}
.HomeTitle{

    padding: 1px;
    color: white;
    font-size: 50px;
}

.boardbutton{
    padding: 10px;
    font-size: 15px;
    background-color: lightpink;
    border-radius: 10px;
}
