.list_in_board{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.border-2{
    border: 2px solid red;
}
