* {
    padding: 0px;
    margin: 0px
}

.loginform{
    padding: 1px;
    display: flex;
    flex-direction: column;
 align-items: center;
 justify-content: center;
}

.LoginFormTitle{
    color: wheat;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 6em;
    padding: 2vh;
    text-decoration: underline;
}

.logindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 97vh;
    background-image: linear-gradient( #2585c4, #56dbc9 , wheat);
}

.formdiv {
    padding: 10px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.forminput{
    border: 2px solid green;
    border-radius: 4px;
    height: 2vh;
    width: 20vw;
}
.label0{
    font-size: 2vh;
    color: wheat;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.formbutton {
    padding: 15px;
    margin-top: 2vh;
    background-color: pink;
    width: 20vw;
    border-radius: 6px;
}

.buttondiv {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: center;
}

.errormsg{
    color: red;
    background-color: yellow;
    padding: 7px;
}
